ion-tabs ion-tab-bar ion-tab-button {
    // border: solid red 1px;
    width: 100%;
}

ion-tab-bar {
    --background: #f6f7fc;
    --border: none;
}

ion-fab {
    margin-bottom: 19px;
    border-radius: 50%;
    box-shadow: 0px 0px 5px 3px rgba(64, 61, 232, 0.30);
}