<ion-content>

  <ion-searchbar placeholder="Search for a website or app"></ion-searchbar>

  <div class="buttons ion-padding">

    <ion-button>
      <ion-icon name="add"></ion-icon>
    </ion-button>

    <swiper-container [slidesPerView]="2.9" [spaceBetween]="5">
      <swiper-slide>Twitter</swiper-slide>
      <swiper-slide>Instagram</swiper-slide>
      <swiper-slide>Facebook</swiper-slide>
      <swiper-slide>Google</swiper-slide>
      <swiper-slide>Microsoft</swiper-slide>
      <swiper-slide>Dribbble</swiper-slide>
      <swiper-slide>Amazon</swiper-slide>
    </swiper-container>

  </div>

</ion-content>
